/* here you can put your own css to customize and override the theme */
.bg-trans {
    background: transparent !important;
}

.mgr5 {
    margin-right: 5px !important;
}

.mgr10 {
    margin-right: 10px !important;
}

.mgr15 {
    margin-right: 15px !important;
}

.mgr20 {
    margin-right: 20px !important;
}

.mgl5 {
    margin-left: 5px !important;
}

.mgl10 {
    margin-left: 10px !important;
}

.mgl15 {
    margin-left: 15px !important;
}

.mgl20 {
    margin-left: 20px !important;
}

/**
 * direct right content
 */
.direct {
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.direct > .direct-content {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.direct > .direct-content {
    -webkit-transform: translate(101%, 0);
    -ms-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    padding: 5px 15px 5px 15px;
    overflow: auto;
    z-index: 10000;
}

.direct > .direct-content > .portlet {
    border: 2px solid #d3d7e9;
    box-shadow: 0px 5px 20px 0px #888888;
    background: #fbfbfb;
    height: 100%;
    margin: inherit;
}

.direct > .direct-content > .portlet > .portlet-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 15px;
}

.direct > .direct-content > .portlet > .portlet-title, .direct > .direct-content > .portlet > * .portlet-body {
    margin: inherit;
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.direct.direct-open > .direct-content {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}